:root {
	--white: #fff;
	--black: #000;
	--lightBlack: #2c2c2c;
	--main: #ff6e68;
}

.mt-100 {
    margin-top: 100px;
}

.details-img {
    width: 100%;
	height: auto;
	padding-right: 30px;
}

.details-img img {
    width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.details {
    font-size: 42px;
}

.dec,
.inc,
.quantity {
	width: 60px;
	height: 60px;
	border: 1px solid silver;
	display: flex;
	align-items: center;
	justify-content: center;
}
.quantity {
	border-left: none;
	border-right: none;
}
.inc,
.dec {
	cursor: pointer;
}

.btn-default {
	margin-left: 10px;
	width: 100%;
	border: none;
	background: var(--main);
	color: var(--white);
	outline: none;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}